<div>
  <h2>Create new user </h2>
  <div>
    <div>First Name:
      <input [(ngModel)]="user.first_name" placeholder="First Name"/>
    </div>
    <div>Last Name:
      <input [(ngModel)]="user.last_name" placeholder="Last Name"/>
    </div>
    <div>Email:
      <input [(ngModel)]="user.email" placeholder="Email"/>
    </div>
    <div>Password:
      <input [(ngModel)]="user.password" placeholder="password"/>
    </div>
  </div>
  <button (click)="save()">save</button>
  <button (click)="cancel()">cancel</button>
</div>