.login-form
    width: 300px
    margin: auto
    height: 300px

.login-field
    width: 100%


.card-subtitle
    font-size: 2em
    text-align: center
    color: #0336ff
    padding-top: 30px

.login-button
    text-align: center
    color: #0336ff