
.user-system-card
    width: min-content
    background-color: #ffffff
    color: #ff0266
    margin-top: 3em
    margin-left: auto
    margin-right: auto
    padding-left: auto
    padding-right: auto

.card-title
    font-size: 5em
    margin: 50px

.divider
    margin-top: 50px
    margin-bottom: 100px

.mat-card
    border-radius: 0px

.mat-divider
    background-color: #ffde03
    height: 3px